body{
	background-color: #eee;
}

.about-section{
	background-color: #333;
	color: white;
	padding: 50px;
}
.photo-banner{
	height: 200px;
	background-image: url(http://hackingdistributed.com/images/2014-01-01-bitcoin/chain3.jpg);
}
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
	 	height: 450px;
		 width: auto;
		 margin: auto;
}
#bit {
  height: 25vh;
  overflow-y: hidden;
  transition: height 0.25s;
}

#bit.expanded {
  height: auto;
}
