body{
	background-color: #eee;
}

.about-section{
	background-color: #333;
	color: white;
	padding: 50px;
}
.photo-banner{
	height: 200px;
	background-image: url(http://hackingdistributed.com/images/2014-01-01-bitcoin/chain3.jpg);
}
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
	 	height: 450px;
		 width: auto;
		 margin: auto;
}
#bit {
  height: 25vh;
  overflow-y: hidden;
  transition: height 0.25s;
}

#bit.expanded {
  height: auto;
}


#top-logo{
	height: 100px;
}
.navbar{
	margin-bottom: 0px !important;
}
@media(min-width:768px){
	.navbar{
		margin-bottom: 0px;
		min-height: 130px !important;
	}
	.navbar .navbar-collapse .collapse{
		height: 130px !important;
	}
	.navbar-default .navbar-nav>li>a{
		line-height:100px;
	}
}

@media(max-width:767px){
	#top-logo{
		margin-top: -7px;
		height: 35px;
	}
}

#gallery {
	max-width: 100% !important;
    width: 100% !important;
    /*height: 300px;*/
}

.ug-arrow-right.ug-skin-default {
    background-image: url('img/arrows-right.png');
}

.ug-arrow-left.ug-skin-default {
    background-image: url('img/arrows-left.png');
}